# managed by ansible

CHECK PROCESS actionhero-{{ application }}

  WITH PIDFILE /home/{{ deploy_user }}/www/{{ application }}/shared/pids/cluster_pidfile

  START PROGRAM "/bin/bash -c 'source /home/deploy/.profile && cd /home/{{ deploy_user }}/www/{{ application }}/current && HOME=/home/{{ deploy_user }} ./node_modules/.bin/actionhero startCluster --daemon --workers={{ actionhero_workers }}'"
    as uid {{ deploy_user }}
    with timeout 30 seconds

  STOP PROGRAM "/bin/bash -c 'kill `cat /home/{{ deploy_user }}/www/{{ application }}/shared/pids/cluster_pidfile`'"
    as uid {{ deploy_user }}

  if mem is greater than 600 MB for 5 cycles
    then exec "/bin/bash -c 'kill -s USR2 cat `cat /home/{{ deploy_user }}/www/{{ application }}/shared/pids/cluster_pidfile`'"

  if totalmemory is greater than 800 MB for 10 cycles
    then exec "/bin/bash -c 'kill -s USR2 cat `cat /home/{{ deploy_user }}/www/{{ application }}/shared/pids/cluster_pidfile`'"

  if mem is greater than 600 MB for 5 cycles
    then alert
  else if passed for 3 cycles
    then alert

  if totalmemory is greater than 800 MB for 10 cycles
    then alert
  else if passed for 3 cycles
    then alert

  if cpu is greater than 25% for 20 cycles
    then alert
  else if passed for 3 cycles
    then alert

  if totalcpu is greater than 90% for 10 cycles
    then alert
  else if passed for 3 cycles
    then alert

  if uptime < 1 minutes for 3 cycles
    then alert
  else if passed for 3 cycles
    then alert
