# managed by ansible

check system {{ ansible_hostname }}
  if memory usage > {{ monit_system_alert_memory_usage }}
    then alert
  else if passed for 3 cycles
    then alert

  if cpu usage (user) > {{ monit_system_alert_cpu_usage_user }}
    then alert
  else if passed for 3 cycles
    then alert

  if cpu usage (system) > {{ monit_system_alert_cpu_usage_system }}
    then alert
  else if passed for 3 cycles
    then alert

  if cpu usage (wait) > {{ monit_system_alert_cpu_usage_wait }}
    then alert
  else if passed for 3 cycles
    then alert

  if loadavg (5min) > {{ monit_system_alert_loadavg_5_min }}
    then alert
  else if passed for 3 cycles
    then alert

{% for mount in mountpoints.stdout_lines %}

check filesystem disk-{{ mount }} with path {{ mount }}
  if space usage > {{ monit_system_alert_disk_utilization_percent }}
    then alert
  else if passed for 3 cycles
    then alert

  if inode usage > {{ monit_system_alert_disk_utilization_percent }}
    then alert
  else if passed for 3 cycles
    then alert

{% endfor %}

check network lo with interface lo # always check & log loopback

{% for iface in ansible_interfaces %}
{% if (
  ( ansible_default_ipv4.interface is defined and ansible_default_ipv4.interface == iface ) or
  ( ansible_default_ipv6.interface is defined and ansible_default_ipv6.interface == iface )
) %}

check network {{ iface }} with interface {{ iface }}

  if upload   > {{ monit_system_alert_network_upload }}
    then alert
  else if passed for 5 cycles
    then alert

  if download > {{ monit_system_alert_network_download }}
    then alert
  else if passed for 5 cycles
    then alert

  if total download > {{ monit_system_alert_network_throughput }}
    then alert
  else if passed for 5 cycles
    then alert

  if total upload   > {{ monit_system_alert_network_throughput }}
    then alert
  else if passed for 5 cycles
    then alert

{% endif %}
{% endfor %}
