node_modules
log
pids
.next

api/public/javascript/ActionheroWebsocketClient.js
api/public/javascript/ActionheroWebsocketClient.min.js

npm-debug.log
yarn-error.log
.DS_Store
.env
dump.rdb
newrelic_agent.log
*.retry
mobile/fastlane/report.xml
mobile/tmp/*
