<div ng-controller="messages:list">

  <h2>Messages</h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Direction</th>
        <th>Message</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody ng-repeat="message in messages">

      <tr ng-if="message.direction === 'in'" class="animated zoomIn info">
        <td>{{ formatters.phoneNumber( message.to ) }}</td>
        <td>{{ formatters.phoneNumber( message.from ) }}</td>
        <td>{{ message.direction }}</td>
        <td>{{ message.message }}</td>
        <td>{{ formatters.timestamp( message.createdAt ) }}</td>
      </tr>
      <tr ng-if="message.direction === 'out'" class="animated zoomIn success">
        <td>{{ formatters.phoneNumber( message.to ) }}</td>
        <td>{{ formatters.phoneNumber( message.from ) }}</td>
        <td>{{ message.direction }}</td>
        <td>{{ message.message }}</td>
        <td>{{ formatters.timestamp( message.createdAt ) }}</td>
      </tr>
    </tbody>
  </table>

</div>