<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th>From</th>
      <th>&nbsp;</th>
      <th>To</th>
      <th>Message</th>
      <th>When</th>
    </tr>
  </thead>

  <tbody ng-repeat="message in messages">
    <tr ng-if="message.direction === 'in'" class="animated zoomIn info">
      <td>{{ $root.formatters.phoneNumber( message.from ) }}</td>
      <td><span class="glyphicon glyphicon-chevron-right"></span></td>
      <td>{{ $root.formatters.phoneNumber( message.to ) }}</td>
      <td>{{ message.message }}</td>
      <td>{{ $root.formatters.timestamp( message.createdAt ) }}</td>
    </tr>
    <tr ng-if="message.direction === 'out'" class="animated zoomIn warning">
      <td>{{ $root.formatters.phoneNumber( message.from ) }}</td>
      <td><span class="glyphicon glyphicon-chevron-right"></span></td>
      <td>{{ $root.formatters.phoneNumber( message.to ) }}</td>
      <td>{{ message.message }}</td>
      <td>{{ $root.formatters.timestamp( message.createdAt ) }}</td>
    </tr>
  </tbody>

</table>

<div ng-if="showPagination" class="form-group row">
  
  <div class="col-md-4">
    <label>Per Page</label>
    <select name="limit" class="form-control" ng-model="paginationData.limit">
      <option value="10">10</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="500">500</option>
    </select>
  </div>

  <div class="col-md-4">
    <label>Page #</label>
    <select name="limit" class="form-control" ng-model="paginationData.page">
      <option ng-repeat="p in paginationData.possiblePages" value="{{p}}">{{p}}</option>
    </select>
  </div>

</div>