set httpd port 2812
  allow localhost

set daemon 30 with start delay 5

set logfile syslog facility log_daemon

set alert {{ monit_alert_email }} only on { timeout, nonexist, resource }

set mailserver smtp.gmail.com port 587
   username "{{ monit_gmail_user}}" password "{{ monit_gmail_pass }}"
   using tlsv12

set eventqueue
    basedir /var/monit  # set the base directory where events will be stored
    slots 10            # optionaly limit the queue size

include /etc/monit/conf.d/*.conf
