<div class="container" ng-controller="person:combined">
  <div class="col-md-12">
    <h1>{{$root.team.name}}</h1>
  </div>

  <div class="col-md-4">
    <div ng-include="'pages/person/group-message.html'"></div>

    <div class="col-centered thick-bordered">
      <div class="btn-toolbar">
          <button type="button" ng-if="people.length > 0" class="btn btn-info btn-sm" data-toggle="modal" data-target="#groupMessageModal">
            Send Group Message
          </button>

          <button type="button" ng-click="loadAllMessages();" class="btn btn-success btn-sm">
            See All Messages
          </button>
      </div>

      <hr />

      <div ng-include="'pages/person/messages-list.html'"></div>
    </div>

  </div>

  <div class="col-md-8" id="threadContainer">
    <div ng-include="'pages/person/thread.html'"></div>
  </div>

</div>
