# managed by ansible

#user  nobody;
worker_processes  2;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
  worker_connections 1024; # increase if you have lots of clients
  accept_mutex on; # "on" if nginx worker_processes > 1
}

http {
  include       mime.types;
  default_type  application/octet-stream;
  server_tokens off;
  sendfile        on;
  keepalive_timeout  65;
  server_names_hash_bucket_size 64;
  types_hash_max_size 2048;

  gzip on;
  gzip_http_version 1.0;
  gzip_comp_level 9;
  gzip_proxied any;
  gzip_types text/plain text/xml text/css text/comma-separated-values text/javascript application/javascript application/x-javascript font/ttf font/otf image/svg+xml application/atom+xml;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$http_x_forwarded_for" $request_time';

  ## For redirecting in load balancer
  server {
      listen 8080;
      server_name _;

      location /nginx_status {
          stub_status on;
          access_log on;
          allow 127.0.0.1;
          deny all;
      }

      location / {
          rewrite ^(.*) https://www.switchboard.chat$1 permanent;
      }
  }

  ## Actual application
  server {
      listen 80;
      server_name _;

      location /nginx_status {
          stub_status on;
          access_log on;
          allow 127.0.0.1;
          deny all;
      }

     # location / {
     #     rewrite ^(.*) https://www.switchboard.chat$1 permanent;
     # }

     client_max_body_size 10M;

     location /primus {
         proxy_http_version 1.1;
         proxy_buffering off;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection "Upgrade";
         proxy_set_header Host $host;

         proxy_pass http://unix:/home/{{ deploy_user }}/www/switchboard.chat/shared/sockets/actionhero.sock;
     }

     location / {
         root        /home/{{ deploy_user }}/www/switchboard.chat/current/public/;
         expires 1m;
         try_files /$uri/index.html
                   /$uri.html
                   /$uri
                   @app;
     }

     location @app {
         proxy_pass http://unix:/home/{{ deploy_user }}/www/switchboard.chat/shared/sockets/actionhero.sock;
     }
  }
}
