<div ng-repeat="f in folders">
  <h2>{{f.name}}</h2>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Commands?</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody ng-repeat="p in people">
      <tr ng-if="f.id === p.folderId">
        <td>{{ p.firstName }}</td>
        <td>{{ p.lastName }}</td>
        <td>{{ $root.formatters.phoneNumber(p.phoneNumber) }}</td>
        <td ng-if="p.canUseCommands"><span class="glyphicon glyphicon-transfer">&nbsp;</span></td><td ng-if="!p.canUseCommands">&nbsp;</td>
        <td ng-click="editPerson(p.id);"><span class="glyphicon glyphicon-pencil">&nbsp;</span></td>
        <td ng-click="deletePerson(p.id);"><span class="glyphicon glyphicon-remove">&nbsp;</span></td>
      </tr>
    </tbody>
  </table>

</div>
