<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th><span class="glyphicon glyphicon-transfer"></span></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody ng-repeat="p in people">
    <tr ng-if="person && person.id === p.id" ng-click="loadThread(p.id);" class="warning">
      <td><span ng-if="p.alert" class="text-danger animated pulse glyphicon glyphicon-asterisk"></span></td>
      <td>{{ p.firstName }}</td>
      <td>{{ p.lastName }}</td>
      <td ><span ng-if="p.canUseCommands" class="glyphicon glyphicon-ok"></span></td>
      <td ng-click="editPerson(p.id);"><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>
    <tr ng-if="!person || person.id !== p.id" ng-click="loadThread(p.id);">
      <td><span ng-if="p.alert" class="text-danger animated pulse glyphicon glyphicon-asterisk"></span></td>
      <td>{{ p.firstName }}</td>
      <td>{{ p.lastName }}</td>
      <td ><span ng-if="p.canUseCommands" class="glyphicon glyphicon-ok"></span></td>
      <td ng-click="editPerson(p.id);"><span class="glyphicon glyphicon-pencil"></span></td>
    </tr>
  </tbody>
</table>
