<div ng-if="person">

  <div ng-if="person !== 'All'">
    <h2>Messages with {{person.firstName}} {{person.lastName}}</h2>
    <p>{{totalMessages}} total messages with this person ({{ $root.formatters.phoneNumber(person.phoneNumber) }})</p>
  </div>

  <div ng-if="person === 'All'">
    <h2>All Messages: {{ folderName }}</h2>
  </div>

  <div class="well" ng-if="person !== 'All'">
    <form ng-submit="processMessageForm()">
      <div class="form-group">
        <label>Type Outgoing Message Here:</label>
        <input type="text" name="body" class="form-control input-sm" placeholder="hi!" ng-model="forms.message.body">
      </div>

      <button type="submit" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-flash"></span> Send Message to {{ person.firstName }}
      </button>
    </form>
  </div>

</div>

<div ng-if="person" ng-include="'pages/person/message-table.html'"></div>

<div ng-if="!person" align="center">
  <h1><span class="glyphicon glyphicon-phone-alt">&nbsp;</span></h1>
  <p class="text-primary">Choose a person from the list (or create one) to see your messages.</p>
</div>
